[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "bench/Nanolog"]
	path = bench/Nanolog
	url = https://github.com/PlatformLab/NanoLog
[submodule "bench/spdlog"]
	path = bench/spdlog
	url = https://github.com/gabime/spdlog
